stages:
  - .pre
  - build
  - test
  - deploy

variables:
  GIT_DEPTH: 0
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: recursive
  # Reference for GitHub Pages scripts from common-ci-configuration
  COMMON_CI_GITHUB_PAGES_REF: "7b42a5584d854c2aee4b7e02cfd3de2bc4e8d77e"

include:
  - template: Workflows/Branch-Pipelines.gitlab-ci.yml
  - project: 'hive/common-ci-configuration'
    ref: 7b42a5584d854c2aee4b7e02cfd3de2bc4e8d77e
    file:
      - '/templates/npm_projects.gitlab-ci.yml'
      - '/templates/github_pages.gitlab-ci.yml'

default:
  tags:
    - public-runner-docker

lint:
  stage: .pre
  extends: .npm_based_job_base
  script:
    - npm run lint-ci

# Builds and supplements wiki URL so it is available in Wiki and published package README
build:
  stage: build
  extends: .npm_build_template
  variables:
    DIST_DIR: "$CI_PROJECT_DIR/dist"
    NPM_PACKAGE_SCOPE: "@hiveio"
    NPM_PACKAGE_NAME: "workerbee"
    REPLACE_DOC_URL_ENV: "GEN_DOC_URL"
    REPLACE_FILE_PATH: "${CI_PROJECT_DIR}/README.md"
  needs:
    - job: lint

# Generates documentation
generate_docs:
  stage: build
  extends: .npm_based_job_base
  variables:
    DIST_DIR: "$CI_PROJECT_DIR/dist"
  script:
    - scripts/generate_api_docs.sh "${CI_PROJECT_URL}" "${CI_COMMIT_SHA}"
  needs:
    - job: build
      artifacts: true
  artifacts:
    paths:
      - "${DIST_DIR}/docs"
    when: always
    expire_in: 1 week

test:
  stage: test
  extends: .npm_test_template
  variables:
    DIST_DIR: "$CI_PROJECT_DIR/dist"
  needs:
    - job: build
      artifacts: true

push_to_wiki:
  extends: .npm_push_doc_template
  stage: deploy
  variables:
    WIKI_PUSH_TOKEN: "$WIKI_PUSH_TOKEN"
    DIST_DIR: "$CI_PROJECT_DIR/dist"
  needs:
    - job: build
      artifacts: true
    - job: generate_docs
      artifacts: true

deploy_dev_package:
  stage: deploy
  extends: .npm_deploy_package_template
  variables:
    NPM_PACKAGE_SCOPE: "@hiveio"
    DIST_DIR: "$CI_PROJECT_DIR/dist"
  needs:
    - job: test
    - job: push_to_wiki
    - job: build
      artifacts: true

deploy_production_public_npm:
  stage: deploy
  extends: .registry_npmjs_org_deploy_package_template
  id_tokens:
    SIGSTORE_ID_TOKEN:
      aud: sigstore
  variables:
    NPM_PUBLISH_TOKEN: "$INTERNAL_HIDDEN_PUBLISH_TOKEN"
    NPM_PACKAGE_NAME: "workerbee"
    NPM_PROVENANCE_ENABLE: "0" # XXX: Temporarly disable as it is not working - we have to find a way to get it working
    DIST_DIR: "$CI_PROJECT_DIR/dist"
  needs:
    - job: deploy_dev_package
    - job: test
    - job: push_to_wiki
    - job: build
      artifacts: true

# =============================================================================
# GitHub Pages Documentation Deployment
# =============================================================================
# Deploys versioned documentation to a dedicated GitHub repository.
# Triggered on develop branch and version tags.
# Requires GITHUB_PAGES_TOKEN CI variable with repo write access.

generate_html_docs:
  extends: .generate_html_docs_template
  variables:
    PACKAGE_NAME: "@hiveio/workerbee"
    ENTRY_POINT: "src/index.ts"
  needs:
    - job: build
      artifacts: true

deploy_to_github_pages:
  extends: .deploy_github_pages_ts_wiki_template
  variables:
    PROJECT_NAME: "workerbee"
    TS_DOCS_DIR: "${CI_PROJECT_DIR}/docs-output/ts"
    EXTRA_DOCS_DIR: "${CI_PROJECT_DIR}/dist/docs"
  needs:
    - job: generate_html_docs
      artifacts: true
    - job: generate_docs
      artifacts: true
