stages:
  - .pre
  - build
  - test
  - deploy

variables:
  GIT_DEPTH: 0
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: recursive

include:
  - template: Workflows/Branch-Pipelines.gitlab-ci.yml
  - project: 'hive/common-ci-configuration'
    ref: 296649fb125e2cb3f22686f2c2bd662b19e17c72
    file:
      - '/templates/npm_projects.gitlab-ci.yml'

default:
  tags:
    - public-runner-docker

lint:
  stage: .pre
  extends: .npm_based_job_base
  script:
    - npm run lint-ci

# Builds and supplements wiki URL so it is available in Wiki and published package README
build:
  stage: build
  extends: .npm_build_template
  variables:
    DIST_DIR: "$CI_PROJECT_DIR/dist"
    NPM_PACKAGE_SCOPE: "@hiveio"
    NPM_PACKAGE_NAME: "workerbee"
    REPLACE_DOC_URL_ENV: "GEN_DOC_URL"
    REPLACE_FILE_PATH: "${CI_PROJECT_DIR}/README.md"
  needs:
    - job: lint

# Generates documentation
generate_docs:
  stage: build
  extends: .npm_based_job_base
  variables:
    DIST_DIR: "$CI_PROJECT_DIR/dist"
  script:
    - scripts/generate_api_docs.sh "${CI_PROJECT_URL}" "${CI_COMMIT_SHA}"
  needs:
    - job: build
      artifacts: true
  artifacts:
    paths:
      - "${DIST_DIR}/docs"
    when: always
    expire_in: 1 week

test:
  stage: test
  extends: .npm_test_template
  variables:
    DIST_DIR: "$CI_PROJECT_DIR/dist"
  before_script:
    - export PACKAGE_TGZ_PATH="${DIST_DIR}/$(basename ${BUILT_PACKAGE_PATH})"
    - !reference [.npm_test_template, before_script]
  needs:
    - job: build
      artifacts: true

push_to_wiki:
  extends: .npm_push_doc_template
  stage: deploy
  allow_failure: true  # Cleanup step fails due to proxy - see hive/common-ci-configuration issue
  variables:
    WIKI_PUSH_TOKEN: "$WIKI_PUSH_TOKEN"
    DIST_DIR: "$CI_PROJECT_DIR/dist"
  before_script:
    - git config --global --unset-all http.proxy || true
    - git config --global --unset-all https.proxy || true
    - export PACKAGE_TGZ_PATH="${DIST_DIR}/$(basename ${BUILT_PACKAGE_PATH})"
    - !reference [.npm_push_doc_template, before_script]
  needs:
    - job: build
      artifacts: true
    - job: generate_docs
      artifacts: true

deploy_dev_package:
  stage: deploy
  extends: .npm_deploy_package_template
  variables:
    NPM_PACKAGE_SCOPE: "@hiveio"
    DIST_DIR: "$CI_PROJECT_DIR/dist"
  before_script:
    - export PACKAGE_TGZ_PATH="${DIST_DIR}/$(basename ${BUILT_PACKAGE_PATH})"
    - !reference [.npm_deploy_package_template, before_script]
  needs:
    - job: test
    - job: push_to_wiki
    - job: build
      artifacts: true

deploy_production_public_npm:
  stage: deploy
  extends: .registry_npmjs_org_deploy_package_template
  id_tokens:
    SIGSTORE_ID_TOKEN:
      aud: sigstore
  variables:
    NPM_PUBLISH_TOKEN: "$INTERNAL_HIDDEN_PUBLISH_TOKEN"
    NPM_PACKAGE_NAME: "workerbee"
    NPM_PROVENANCE_ENABLE: "0" # XXX: Temporarly disable as it is not working - we have to find a way to get it working
    DIST_DIR: "$CI_PROJECT_DIR/dist"
  before_script:
    - export PACKAGE_TGZ_PATH="${DIST_DIR}/$(basename ${BUILT_PACKAGE_PATH})"
    - !reference [.registry_npmjs_org_deploy_package_template, before_script]
  needs:
    - job: deploy_dev_package
    - job: test
    - job: push_to_wiki
    - job: build
      artifacts: true
